@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@300&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family:  'Source Sans Pro', sans-serif;
}

/*-------------Scrollbar------------*/
/* width */
#page-container::-webkit-scrollbar {
    width: 10px;
}

/* Track */
#page-container::-webkit-scrollbar-track {
    background: #dfdfdf;
}

/* Handle */
#page-container::-webkit-scrollbar-thumb {
    background: #d2d5dc;
}

/* Handle on hover */
#page-container::-webkit-scrollbar-thumb:hover {
    background: #c2d3e3;
}

.left-clear {
    clear: left;
}

#page-container {
    position: fixed;
    right: 0;
    width: calc(100vw - 250px);
    height: calc(100vh - 56px);
    background-color: #ffffff;
    overflow-y: scroll;
    transition: 250ms;
}

#page-container.expanded {
    width: 100vw;
}

/*------------ARTICLES---------------*/
.article-wrapper {
}

.article-content {
    max-width: 950px;
    position: relative;
    padding: 50px 50px 50px 50px;
}

.article-content ol {
    font-size: 1rem;
}

.article-menu-right {
}

/*---------Box for showcase manipulation-----------------*/
.fixed-box {
    background-color: rgb(248, 248, 248);
    position: fixed;
    top: 106px;
    left: 1198px;
    -webkit-box-shadow: 0 0 13px 5px rgba(0,0,0,0.39);
    box-shadow: 0 0 13px 5px rgba(0,0,0,0.10);
    overflow: hidden;
    height: 380px;
    width: 300px;
    transition: 500ms;
}

.fixed-box.fixed-box-off {
    height: 40px;
    transition: 500ms;
    background-color: rgba(210, 213, 220, 0.38);
    -webkit-box-shadow: none;
    box-shadow: none;
}

.fixed-box-btn {
    background-color: #d2d5dc;
    border: none;
    display: flex;
    width: 100%;
    height: 40px;
    padding: 5px 0 10px 0;
    font-size: 1.1rem;
    cursor: pointer;
    position: relative;
    z-index: 2;
    transition: 500ms;
}

.fixed-box-btn.fixed-box-btn-off {
    background-color: rgba(210, 213, 220, 0);
    transition: 500ms;
}

.fixed-box-btn span {
    margin: auto;
}

.fixed-box-table {
    height: 100%;
    position: unset;
    margin-left: 5px;
}

@media only screen and (max-width: 1508px) {
    .fixed-box {
        right: 10px;
        left: unset;
    }

    .fixed-box.fixed-box-off {
        width: 170px;
    }
}

h1 {
    display: flex;
    align-items: center;
    font-size: 3rem;
    margin-bottom: 10px;
}

p {
    align-items: center;
    font-size: 1rem;
    margin-bottom: 10px;
}

h2 {
    display: flex;
    align-items: center;
    font-size: 2rem;
    margin: 10px 0 10px 0;
}

h3 {
    display: flex;
    align-items: center;
    margin: 10px 0 10px 0;
}

ol {
    padding: 0 0 0 20px;
    counter-reset: item
}

ol.headers-ol {
    counter-reset: chapter-count;
    padding: 0;
}

ol li {
    display: block;
    margin: 5px 0 5px 0;
}

ol li:before {
    content: counters(item, ".") " ";
    counter-increment: item
}

.break5px {
    width: 100%;
    height: 5px;
}

.react-pdf__Page__canvas {
    margin: 20px 25%;
}

.react-pdf__Page__textContent {
    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
    -khtml-user-select: none; /* Konqueror HTML */
    -moz-user-select: none; /* Old versions of Firefox */
    -ms-user-select: none; /* Internet Explorer/Edge */
    user-select: none; /* Non-prefixed version, currently
    supported by Chrome, Edge, Opera and Firefox */
}

@media only screen and (max-width: 600px) {
    /* For mobile phones: */
    #page-container {
        position: fixed;
        right: 0;
        width: 100vw;
        height: calc(100vh - 56px);
        background-color: #ffffff;
        overflow-y: scroll;
        transition: 250ms;
    }

    #page-container.expanded {
        width: 100vw;
    }

    .fixed-box {
        right: 0;
    }

    /*-------------Scrollbar------------*/
    /* width */
    #page-container::-webkit-scrollbar {
        width: 0;
    }
}